---
layout: article
---
<section class="main-container">
  <div class="container">
    <div class="row">
      <div class="main col-md-12">
        <h1 class="page-title">{{ page.title }}</h1>
        <div class="separator-2"></div>
      </div>
    </div>
  </div>
  <div class="white-bg section">
    <div class="container">
      <div class="isotope-container row grid-space-10">
        <div class="col-md-6 isotope-item">
          <div class="box-style-1 gray-bg">
            <div class="overlay-container"><img src="/images/catalog/google-drive.jpg" alt="Google Drive"></div>
            <a href="{{ page.google-drive }}" target="_blank" class="btn btn-default">Download</a>
          </div>
        </div>
        <div class="col-md-6 isotope-item">
          <div class="box-style-1 gray-bg">
            <div class="overlay-container"><img src="/images/catalog/baidu-yun.jpg" alt="Baidu Yun"></div>
            <a href="{{ page.baidu-yun }}" target="_blank" class="btn btn-default">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>