<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>{% if page.full_title %}{{ page.full_title }}{% else %}{% if page.title %}{{ page.title }}-{% endif %}{{ site.title }}{% endif %}</title>
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <link rel="icon" href="{{ site.url }}/images/assets/favicon.png">
    <link rel="shortcut icon" href="{{ site.url }}/favicon.ico">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="{{ site.url }}/images/assets/totembdg-icon.png">
    <meta name="apple-mobile-web-app-title" content="TOTEM">
    <link type="text/css" rel="stylesheet" href="{{ site.url }}/assets/totembdg.css">
    <!--[if lt IE 9]>
      <script src="{{ site.url }}/assets/html5shiv.min.js"></script>
      <script src="{{ site.url }}/assets/respond.min.js"></script>
    <![endif]-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X4C7KJ2Z7N"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-X4C7KJ2Z7N');
    </script>
  </head>
  <body class="front no-trans">
    <div class="scrollToTop"><i class="fa fa-chevron-up"></i></div>
    <div class="page-wrapper">
      <header class="header fixed clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="header-left clearfix">
                <div class="logo">
                  <a href="{{ site.url }}"><img id="logo" src="/images/assets/totembdg-logo.png" alt="totembdg-logo"></a>
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="header-right clearfix">
                <div class="main-navigation animated">
                  <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                      </div>
                      <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                          <li class="{% if page.category == 'home' %}active{% endif %}"><a href="{{ site.url }}">HOME</a></li>
                          <li class="{% if page.category == 'about' %}active{% endif %}"><a href="{{ site.url }}/about/">ABOUT US</a>
                          <li class="{% if page.category == 'products' %}active{% endif %}"><a href="{{ site.url }}/products/">Products</a>
                          <li class="{% if page.category == 'project' %}active{% endif %}"><a href="{{ site.url }}/project/">Project</a></li>
                          <li class="{% if page.category == 'catalog' %}active{% endif %}"><a href="{{ site.url }}/catalog/">Catalog</a></li>
                          <li class="{% if page.category == 'news' %}active{% endif %}"><a href="{{ site.url }}/news/">News</a></li>
                          <li class="{% if page.category == 'contact' %}active{% endif %}"><a href="{{ site.url }}/contact/">Contact</a></li>
                          <li class="{% if page.category == 'french' %}active{% endif %}"><a href="{{ site.url }}/french/">Français</a></li>
                        </ul>
                      </div>
                    </div>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
    {{ content }}
      <footer id="footer">
        <div class="footer">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="footer-content">
                  <h2>TOTEM TOBOND</h2>
                  <div class="row">
                    <div class="col-sm-12">
                      <p><img src="{{ site.url }}/images/assets/totembdg-code.jpg" alt="Website Code"></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="footer-content">
                  <h2>Sitemap</h2>
                  <nav>
                    <ul class="nav nav-pills nav-stacked">
                      <li><a href="{{ site.url }}">HOME</a></li>
                      <li><a href="{{ site.url }}/about/">ABOUT US</a></li>
                      <li><a href="{{ site.url }}/products/">Products</a></li>
                      <li><a href="{{ site.url }}/project/">Project</a></li>
                      <li><a href="{{ site.url }}/news/">News</a></li>
                      <li><a href="{{ site.url }}/contact/">Contact</a></li>
                      <li><a href="{{ site.url }}/french/">Français</a></li>
                    </ul>
                  </nav>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="footer-content">
                  <h2>Products</h2>
                  <nav>
                    <ul class="nav nav-pills nav-stacked">{% for post in site.categories["aluminium-composite-panel"] %}
                      <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>{% endfor %}{% for post in site.categories["aluminium-ceiling"] %}
                      <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>{% endfor %}{% for post in site.categories["aluminium-panel"] %}
                      <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>{% endfor %}
                    </ul>
                  </nav>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="footer-content">
                  <h2>Contact Us</h2>
                  <nav>
                    <ul class="list-icons">
                        <li><i class="fa fa-envelope-o pr-10"></i>MAILBOX: <a href="mailto:info@totembdg.com">info@totembdg.com</a></li>
                        <li><i class="fa fa-phone pr-10"></i>TEL: 0086 757 22682270</li>
                        <li><i class="fa fa-mobile pr-10"></i>Mob: 0086 139 2323 2990</li>
                        <li><i class="fa fa-home pr-10"></i>FACTORY ADD: Building 4-1613, Zhiye Plaza, NO.4 Guanlv Rd, Daliang, Shunde, Foshan, Guangdong, P.R of China.</li>
                      </ul>
                  </nav>
                </div>
              </div>
            </div>
            <div class="space-bottom hidden-lg hidden-xs"></div>
          </div>
        </div>
        <div class="subfooter">
          <div class="container text-center">
            <p>Copyright © 2012-2023 TOTEM BDG CO.,LTD(FoShan ShunDe) All rights reserved | <a href="{{ site.url }}/sitemap.xml">Sitemap</a></p>
          </div>
        </div>
      </footer>
    </div>
    <script type="text/javascript" src="/assets/application.js"></script>
  </body>
</html>